.skeleton {
  background-image: var(--skeleton-bg);
  background-image: linear-gradient(
    to right,
    #d6d7da 0%,
    #e2e3e4 10%,
    #d6d7da 20%,
    #d6d7da 100%
  );
  background-size: 200% 100%;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -2px rgb(0 0 0 / 10%);
  animation: bg-animate 1.2s linear infinite;
}

@keyframes bg-animate {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
